[submodule "libs/lidgren-network-gen3"]
	path = libs/lidgren-network-gen3
	url = https://github.com/lidgren/lidgren-network-gen3.git
[submodule "libs/cscore"]
	path = libs/cscore
	url = https://github.com/filoe/cscore.git
